.font-1-extra-small{
    font: 600 0.75rem/1.35 'Poppings', sans-serif;  
}

.font-1-small{
    font: 400 1rem/1.5 'Poppings', sans-serif;  
}

.font-1-medium{
    font: 400 1.125rem/1.35 'Poppings', sans-serif;  
}

.font-1-medium-bold{
    font: 600 1.125rem/1.5 'Poppings', sans-serif;  
}

.font-1-large{
    font: 400 1.5rem/1.5 'Poppings', sans-serif;
}

.font-1-extra-large{
    font: 600 2rem/1.25 'Poppings', sans-serif;
}

.font-1-x-extra-large{
    font: 600 4rem/1.125 'Poppings', sans-serif;  
}

.font-2-extra-small{
    font: 400 0.875rem/1.4 'Roboto', sans-serif;  
}

.font-2-small{
    font: 400 1rem/1.5 'Roboto', sans-serif;  
}
.font-2-medium{
    font: 500 1.125rem/1.35 'Roboto', sans-serif;  
}

.font-2-large{
    font: 400 1.5rem/1.5 'Roboto', sans-serif;
}

.font-2-large-bold-caps{
    font: 500 1.5rem/1.5 'Roboto', sans-serif; 
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

.font-2-extra-large{
    font: 500 2rem/1.25 'Roboto', sans-serif;
}

@media(max-width: 1200px){
    .font-1-x-extra-large{
        font-size: 3rem;
        line-height: 3rem;
    }

    .font-2-large, .font-2-large-bold-caps{
        font-size: 1.125rem;
        line-height: 1.125rem;
    }
}

@media(max-width: 800px){
    .font-1-x-extra-large{
        font-size: 2rem;
        line-height: 2rem;
    }

    .font-1-extra-large, .font-2-extra-large{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}